

#navbar {
flex-direction: column;
    color: grey;
    display: flex; /* divler yan yana geçiyor */
    align-items: center;
    padding:0px;
    margin: 0px;
    height:auto;
   
    
  
}
#navbar ul li { /* sıraya göre class ismi veriyoruz */
    list-style-type: none;
    display: flex;
    align-items: center;
overflow: hidden;
padding: auto;
margin: 0px;
border-radius:0.5rem;
}

.vr {
    border-left: 3px solid #e67e22;
    border-radius: 6px;
    height: auto;
    top: 0;
  }

  #training .items{
    flex-direction: column;

  }

  #training .items .item{
    width: 100%;
  }